$background_color-1: #fffafa;
$background_color-2: #181513;
$background_color-3: #b5b8b1;
$background_color-4: #d3d4d1;
$background_color-5: #024d02;
$background_color-6: #f2faf3;
$color_frame_game: #330;
$color_board_white: #cc6;
$color_board_black: black;
$background_disabled: rgba(0, 0, 0, 0.666);
$background_form: #fff;
$background_border_input_error: #f12121;
$background_button: #006400;
$background_button_hover: #108610;
$text_color-1: #111;
$text_color-2: #c70000;
$text_color-3: #fffafa;
$text_color-4: #f12121;
$cell_text_color: #111;
$font_size-0_9: 0.9rem;
$font_size-1: 1rem;
$font_size-1_6: 1.6rem;
$font_size-2: 2rem;
$font_size-2_5: 2.5rem;
$font_rubik: 'Rubik', sans-serif;
$size_playing_wrapper: 1260px;
$size_playing_field: 1180px;